<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Linux system calls table for several architectures</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Linux syscalls table for several architectures" />
    <meta name="keywords" content="linux system call calls syscalls x86-64 x86_64 aarch64 arm64 arm riscv riscv64" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@haerwu" />
    <meta name="twitter:title" content="Marcin Juszkiewicz"/>
    <meta name="twitter:description" content="Linux kernel system calls table" />
    <meta name="twitter:creator" content="@haerwu" />
    <meta name="twitter:image" content="https://marcin.juszkiewicz.com.pl/files/images/hrw-512.jpg" />

    <meta property="og:title" content="Linux kernel system calls table" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://gpages.juszkiewicz.com.pl/syscalls-table/syscalls.html" />
    <meta property="og:description" content="Linux kernel system calls table" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Marcin Juszkiewicz" />

{% include "common/datatables-js-css.inc.j2" %}
{% include "common/css.inc.j2" %}
</head>
<body>

<h1>Linux kernel system calls for all architectures</h1>
    <p>
    Linux provides many system calls for userspace. But numbers used for them
    differ between architectures. This page was created to help developers find
    those values.
    </p>
    <p>
    But there is another issue. Some of system calls got dropped during Linux
    development, some got replaced by newer ones. Several architectures got
    added into kernel later and their maintainers decided to not bother with
    supporting obsoleted system calls. They are marked with "-1" value in table
    below.
    </p>

<h2>How to use</h2>
    <p>There are few features you can use:</p>

    <ul>
        <li>search field allows to filter table by syscall name or number</li>
        <li>system call names link to their man pages</li>
        <li>'disable architectures' button allows to disable not needed columns</li>
        <li>clicking on header entries sorts table</li>
        <li>columns can be reordered by dragging column header</li>
    </ul>

<h2>Some notes</h2>

    <ul>
        <li>table is updated at random moments &mdash; usually somewhere after rc1 kernel release</li>
        <li>old data is used for architectures removed from Linux kernel (everything from avr32 to the end of table)</li>
        <li>system calls specific to removed architectures were dropped</li>
        <li>system calls listed in <code>man 2 unimplemented</code> are not listed</li>
        <li>there is now Python module for querying this data: "system_calls"</li>
    </ul>

{% include "common/author-tables-help.inc.j2" %}

<table id="infotable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>system call</th>
{% for arch in archs %}
            <th>{{ arch }}</th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for syscall_name in syscall_names %}
    <tr>
        <td><a href='https://www.man7.org/linux/man-pages/man2/{{ syscall_name }}.2.html' title='{{ syscall_name }} manpage' >{{ syscall_name }}</a></td>
    {% for arch in archs %}
        {% if syscalls[syscall_name][arch] == -1  %}
        <td class="legacy">-1</td>
        {% else %}
	<td>{{ syscalls[syscall_name][arch] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>
</body>
<script>
    new DataTable('#infotable', {
            pageLength:         -1,
            paging:             false,
            scrollX:            true,
            scrollCollapse:     true,
            fixedColumns:       { start: 1 },
            colReorder:         true,
            mark:               true,
            dom:                'Bft',
            buttons:            [ {
                                    extend : 'colvis',
                                    text: 'disable architectures',
                                    columns: ':gt(0)'
                                } ]
    });
</script>
</html>
